SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxx.supabase.co # supabase db host/url
SUPABASE_KEY=sb_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx # supabase db secret key

SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx # jwt encoding key
NODE_ENV=production or development # work from localhost or enforce https only
PORT= xxxx # 4 digit integer